@media screen and (max-width: 1396px) {

    .search_block,
    .search {
        width: 277px;
    }

    .search::-webkit-input-placeholder {
        font-size: 16PX;

    }
}

@media screen and (max-width: 1190px) {
    .nav_item {
        font-size: 18px;
    }
}

@media screen and (max-width: 1160px) {

    .search_block,
    .contact_block,
    .basket_but,
    .but_cabinet {
        display: none;
    }

    .navbar-expand {
        display: none;
    }
}

@media screen and (max-width: 854px) {
    .nav_footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 786px) {
    .nav_footer {
        display: none
    }

    .company_block {
        width: 100%;
        text-align: center;
        margin-left: 0;
    }

    .copy {
        width: 100%;
    }

    .con_block {
        margin-bottom: 92px;
    }
}

@media screen and (max-width: 740px) {
    .description_about {
        font-size: 18px;
    }
}
@media screen and (max-width: 762px) {
    .maps{
        height: 1085px;
    }
    .con_block{
        margin-top: -862px;
    }
    .main_footer{
        margin-top: 470px;
    }
}
@media screen and (max-width: 536px) {
    .description_about {
        font-size: 15px;
        line-height: 20px;
    }

    .contact_block_map {
        width: 100%;
    }

    .text {
        font-size: 10px;
        text-align: left;
    }

    .contact_phone {
        font-size: 16px;
    }

    .social_network:has(p) {
        font-size: 14px;
        padding-bottom: 10px;
    }

    .value_c {
        width: 308px;
    }
}

@media screen and (max-width: 375px) {
    .description_about {
        font-size: 13px;
    }

    .but_about {
        font-size: 12px;
    }

    .social_network:has(p) {
        font-size: 12px;
        padding-bottom: 10px;
    }

    .contact_phone {
        font-size: 14px;
    }
}

@media screen and (max-width: 280px) {
    .description_about {
        font-size: 10px;
    }

    .title_about {
        font-size: 30px;
    }

    .but_about {
        font-size: 12px;
    }

    .social_network:has(p) {
        font-size: 8px;
        padding-bottom: 10px;
    }

    .contact_phone {
        font-size: 9px;
    }
    .but_contact{
        font-size: 8px;
    }

    .value_c {
        width: 180px;
    }
    .logo{
        letter-spacing: 0;
    }
}