html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

html {
    height: 100%;
}

body {
    line-height: 1;
    background-color: #403C3B;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    font-weight: 500;
}

.main_header {
    width: 100%;
    height: 99px;
    background: #403C3B;
    box-shadow: 0px 30px 60px 0px rgba(34, 31, 32, 0.20);
}

.block {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 23px;
}

.logo {
    color: #FFF;
    font-family: Gilroy;
    font-size: 25px;
    font-style: normal;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 3.75px;
    margin-left: 98px;
}

.search {
    width: 450px;
    height: 52px;
    border-radius: 10px;
    background: #504B4A;
    border: none;
    margin-left: 28px;
    color: white;
}

.search:focus {
    outline-width: 0;
}

.location_icon {
    width: 15px;
    margin-left: 18px;

}

.search_block {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 555px;
    height: 52px;
    border-radius: 10px;
    background: #504B4A;
    border: none;

}

.search::-webkit-input-placeholder {
    color: #CFCFCF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

}

.contact_block {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.contact_icon {
    color: white;
    width: 16px;
    height: 16px;
    margin-top: 7px;
    margin-left: 7px;
}

.contact_text {
    color: #CFCFCF;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}

.contact_number {
    color: #FFF;
    font-family: Gilroy;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}

.basket_but {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 149px;
    height: 52px;
    border-radius: 10px;
    background: linear-gradient(133deg, #618967 0%, #72A479 100%);
    margin-left: 100px;
    color: #FFF;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    border: none;
    position: relative;
}

.line {
    width: 1px;
    height: 38px;
    background: rgba(255, 255, 255, 0.30);
}

.circle {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 100%;
    background: linear-gradient(133deg, #618967 0%, #72A479 100%);
}

.value_basket {
    position: absolute;
    left: 79%;
    color: #403C3B;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.carousel {
    height: 700px;
}

.carousel-inner {
    height: 700px;
}

.main_footer {
    width: 100%;
    height: 195px;
    background: linear-gradient(304deg, #44403F 0%, #211F20 100%);
}

.copy {
    color: #CFCFCF;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    width: 186px;
    margin-top: 15px;
}

.company_block {
    margin-left: 98px;
}

.menu_items {
    color: #FFF;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration: underline rgba(255, 255, 255, 0.20);
}

.nav_item {
    color: #FFF;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    padding-right: 20px;
    line-height: normal;
}

.foot {
    display: flex;
}

.nav_footer {
    display: flex;
    margin-left: 86px;
    margin-top: 41px;
    align-items: center;
}

.tabs_custom {
    border: none;
}

.nav-tabs .nav-link {
    height: 60px;
}

.nav-tabs .nav-link.active {
    background: transparent;
    border: none;
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    border-bottom: 3px solid#618967;
    box-shadow: 0px 0px 12px 0px rgba(114, 164, 121, 0.30);

}

.nav-tabs .nav-link:hover {
    color: white;
    font-weight: 500;
    border: none;
    border-bottom: 3px solid #618967;
}

.nav-link {
    color: #CFCFCF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    transition: none
}

.tab_block {
    margin-left: 81px;
}

.category_title {
    display: flex;
    align-items: center;
}

.line2 {
    width: 33px;
    height: 4px;
    transform: rotate(90deg);
    background: #618967;
}

.text_title_category {
    color: #FFF;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;

}

.cards {
    display: flex;

    overflow-x: scroll;
    scrollbar-width: 1px;


}

.cards::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;

}

.cards::-webkit-scrollbar-thumb {
    background-color: #618967;

}

.card {
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.card:hover {
    box-shadow: 0px 30px 45px 0px rgba(43, 40, 40, 0.60);
}

.title_card {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.product_name {
    color: #FFF;
    font-family: Gilroy;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.massa {
    color: #FFF;
    font-family: Gilroy;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.product_description {
    color: #CFCFCF;
    width: 253px;
    font-family: Gilroy;
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 17px
}

.footer_cart {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.price {
    color: #FFF;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal
}

.but_cart {
    width: 137px;
    height: 44px;
    border-radius: 10px;
    background: #618967;
    border: none;
    color: #FFF;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: flex;
    align-items: center;
    justify-content: space-around;
    transition: none;
}

.line3 {
    width: 100%;
    height: 1px;
    background: linear-gradient(270deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.20) 100%);
}

.sale {
    margin-left: 82px;
}

.sales {
    display: flex;
    overflow-x: scroll;

}

.sales::-webkit-scrollbar {
    background-color: transparent;
    height: 5px;
}

.sales::-webkit-scrollbar-thumb {
    background-color: #618967;
}

.cart_sale {
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(90deg, #494544 0%, #504B4A 100%);
}

.title_sale {
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description_sale {
    color: #A6A7AB;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.data_end {
    color: #6FA076;
    font-family: Gilroy;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.but_cart:hover {
    background: #618967;
    box-shadow: 0px 5px 45px 0px #618967
}

.but_cart:active {
    background-color: #618967 !important;
}

.select_count_product {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.minus,
.plus {
    width: 62px;
    height: 44px;
    border-radius: 10px;
    border: none;
    background: #618967;
    color: #FFF;
    font-family: Gilroy;
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.minus:hover {
    background: #618967;
    box-shadow: 0px 5px 45px 0px #618967
}

.plus:hover {
    background: #618967;
    box-shadow: 0px 5px 45px 0px #618967
}

.count_in_basket {
    position: absolute;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    background-color: #618967;
    top: -2%;
    top: -4%;
    left: 90%;
    color: #FFF;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: absolute;
    text-align: center;
    line-height: 2.5;
}

.abouts_block {
    width: 100%;
    margin-top: 93px;
    height: 610px;
    position: relative;
}

.gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url('../image/фото.png');
}

.gradient:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(90deg, #211F20 30%, rgba(68, 64, 63, 0.3) 100%);
}

.title_about {
    color: #FFF;
    font-family: Gilroy;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.description_about {
    color: white;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}

.but_about {

    height: 59px;
    border-radius: 10px;
    border: 1px solid rgba(255, 255, 255, 0.20);
    background: rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(2.5px);
    color: #FFF;
    font-family: 'Proxima Nova';
    font-size: 13px;
    padding-left: 64px;
    padding-right: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about_b {
    position: relative;
}

.about_item {
    width: 100%;
    height: 227px;
    background: rgba(80, 75, 74, 0.90);
    backdrop-filter: blur(2px);
}

.about_icon {
    width: 77px;
    color: white;
    height: 77px;
}

.about_name {
    color: #FFF;
    font-family: Gilroy;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
    text-align: center;
}
.about_item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.about_item:hover{
    box-shadow: 0px 40px 50px 0px rgba(0, 0, 0, 0.40);
    transition: .4s;
}

.about_item:hover .about_name{
    color: #618967;
    transition: .4s;
}
.about_item:hover .about_icon {
    color: #618967;
     transition: .4s;
}
 
 .ymaps-2-1-79-map{
    filter: grayscale(1);
 }
 .div{
    filter: drop-shadow(0px 40px 40px rgba(43, 40, 40, 0.60));  
    width: 100%;
    height: 100%;
 }
 